*, *::before, *::after {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	max-width: 800px;
	min-height: 100%;
	margin: 0 auto;
	padding: 20px;
    color: #f8f9fa;
    background-color: #212529;
	font: 1.25rem/1.25 'Roboto', sans-serif;
}

a {
	color: #66d9e8;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
    margin: 0;
    font-size: 3.5rem;
    text-transform: uppercase;
}

ul {
	margin: 20px 40px;
	padding: 0;
}

li {
	margin: 0;
	padding: 0 0 20px;
}

.break {
	padding-top: 30px;
}

.notes {
	border-top: 2px dashed #868e96;
}
