body {
	margin: 20px;
    color: #495057;
    background-color: #f8f9fa;
	font: 1.25rem/1.25 'Roboto', sans-serif;
}

a {
	color: #1098ad;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
    margin: 0;
    font-size: 3.5rem;
    text-transform: uppercase;
}

ul {
	margin: 20px 40px;
	padding: 0;
}

li {
	margin: 0;
	padding: 0 0 20px;
}

.landing {
	max-width: 800px;
	margin: 0 auto;	
}

.notes {
	border-top: 2px dashed #dee2e6;
}
