*, *::before, *::after {
	box-sizing: content-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
    color: #f8f9fa;
    background-color: #212529;
	font: 1.25rem/1.25 'Roboto', sans-serif;
}

a {
	color: #3bc9db;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
    margin: 0;
    font-size: 3.5rem;
    text-transform: uppercase;
}

ul {
	margin: 20px 40px;
	padding: 0;
}

li {
	margin: 0;
	padding: 0 0 20px;
}

.landing {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.notes {
	border-top: 2px dashed #868e96;
}

#matter {
	display: grid;
	align-content: center;
	justify-content: center;
	height: 100%;
}

canvas {
	border: 1px solid #868e96;
}
