body {
    padding: 60px 20px;
    color: #212529;
    background-color: #f8f9fa;
}

canvas {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}

h1 {
    color: #e64980;
    text-align: right;
    line-height: 1;
    font-size: 6rem;
    text-shadow: 2px 2px #f8f9fa, 4px 4px #faa2c1;
}

h2 {
    margin: 0.25em 0;
    color: #fd7e14;
    line-height: 1;
    font-size: 2rem;
}

h2:not(:first-of-type) {
    margin-top: 2em;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    line-height: 1.5;
    text-shadow: 1px 1px #f8f9fa;
}

.buy {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: calc(50% - 20px);
    margin: -100px 0 0 calc(-100px - 460px / 2);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #f8f9fa;
    background-color: #94d82d;
    border: 8px solid  #74b816;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px #74b816;
    transition: transform 0.2s linear;
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 3.75rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    .content {
        font-size: 1rem;
    }
    .buy {
        margin: -80px 0 0 calc(-80px - 288px / 2);
        width: 160px;
        height: 160px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    .content {
        font-size: 1rem;
    }
    .buy {
        margin: -60px 0 0 calc(-60px - 154px / 2);
        width: 120px;
        height: 120px;
        font-size: 1rem;
    }
}
